/*@include media-breakpoint-down(xs)*/
/* @import "lib/compass-mixins/lib/compass"; */

$btn-primary-color:              #FFFFFF !default;
$btn-primary-bg:                 #3296E1 !default;
$btn-primary-border:             #3296E1 !default;

$label-success-bg:              #00E64D !default;
$label-danger-bg:               #FD7567 !default;

@import "lib/bootstrap/scss/bootstrap";

body {
	overflow-y:scroll;
    
    /* Good for controlling so that the content under the navbar, doesnt get beneath it when the buttons is placed vertically. (wraps?) */
    padding-top: 50;

    /* So that long words doesn't go outside divs. */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/word-wrap */
    word-wrap: break-word;

}

@media (max-width: 320px) {
    body {
        // padding-top: 95
    }
}


/* FORM FIELDS */
input:required {
	/* border: 1px solid blue; */
}
input:valid {
	/* border: 1px solid green; */
}
input:invalid {
	/* border: 1px solid red; */
}

/*
Lägg till annons
*/

textarea {
    resize: both;
}

#uploader_info_panel {
    border-radius: 7px;
    border: 1px solid #F7F7F9;
    padding: 20px; 
    background-color: white;
    /*margin: 20px;*/
}

#form_panel {
    border-radius: 7px;
    border: 1px solid #F7F7F9;
    padding: 10px; 
    background-color: #EDEFF0;
    /*margin: 20px;*/
}

#object_panel {
    border-radius: 7px;
    border: 1px solid #F7F7F9;
    padding: 20px; 
    background-color: white;
    /*margin: 20px;*/
}

#password_panel {
    border-radius: 7px;
    border: 1px solid #F7F7F9;
    padding: 20px; 
    background-color: white;
    /*margin: 20px;*/
}

/*
Nav bar
*/
#nav_bar {
    border-radius: 0px;
    border: 1px;
    padding: 10px; 
    background-color: #ABCBE8;
}

/*
LOGO
*/

#large_logo {
    display:inline;
}

#small_logo {
    display: none;
}

@media (max-width: 320px) {
    #large_logo {
        display: none;
    }
    #small_logo {
        display: inline;
        max-width: 45px;
        max-height: 45px;
    }
}

@media (min-width: 360px) {
    #large_logo {
        display: none;
    }
    #small_logo {
        display: inline;
        /* These values should be higher. Will fix
        No difference from the smaller devices now.
        */
        max-width: 45px;
        max-height: 45px;
    }
}

@media (min-width: 414px) {
    #large_logo {
        display: inline;
        max-width: 125px;
        max-height: 125px;

    }
    #small_logo {
        display: none;
    }
}

/*
Index
*/

#annonser_heading h2 {

}

#index_views {
    border-radius: 7px;
    background-color: #EDEFF0;
    /*margin: 20px;*/
}

#filter_panel {

    padding: 10px; 
    background-color: white;  
}

/*
Annons listed
*/

.annons_listed {
    border-radius: 7px;
    border: 3px solid #F7F7F9;
    padding: 10px; 
    background-color: white;

    /*margin: 20px;*/
}

.annons_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;   
}

/*
Annons
*/

#annons {
    border-radius: 7px;
    border: 3px solid #F7F7F9;
    padding: 10px; 
    background-color: white;
    /*margin: 20px;*/	
}


#annons_outside {
    border: 1px solid #F7F7F9;
    padding: 10px; 
    background-color: #EDEFF0;
    /*margin: 20px;*/
}

.modal-content {
	padding: 10px;
}






/*

Greens

Idle
#56A23F
Clicked
#5DB248
---

Blue 
Navbar Neutral
#0E74AF

Button
Idle
xxx
#4C94BE
Clicked
xxx
#66A4C7

---
*/