@(annons: models.Annons)

<div class="annons_listed @annons.typ">
    <div class="media">
        <div class="media-left">
            <a href="@routes.HomeController.annonsPage(annons.id.get)">
                <div class="imgLiquidFill imgLiquid" style="width:60px; height:60px;">
                    <img class="media-object img-rounded" src="@dao.AppStringResources.imagepath@routes.Assets.versioned("images/annons_imgs/"+annons.img)" alt="@annons.typ.capitalize: @annons.rubrik">
                </div>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="@routes.HomeController.annonsPage(annons.id.get)">@annons.rubrik</a></h4>

            @if(annons.typ.equals("Upphittat")){
                <span class="label label-success">Upphittat</span>
            }
            @if(annons.typ.equals("Borttappat")){
                <span class="label label-danger">Borttappat</span>
            }
            <em>@utilities.DateFormatter.format(annons.posted)</em>
            <br>
                <div class="annons_text">
            @annons.text
                </div>
        </div>
    </div>
</div>

