@(annons: models.Annons, removeAnnonsForm: Form[RemoveAnnonsForm])(implicit messages: Messages)
@*
Google Maps Stuff
*@
@*
Checks if the 'annons' got map coordinates.
Load the scripts if it does.
*@
@if(annons.coordslat.nonEmpty){
<script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/google_maps_read.js")" type="text/javascript" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANnIreWdGEZQkZsvJiONegQXO-Dd49-14&callback=initMap"
defer></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/google_maps_annons.css")">
    <script src="@routes.Assets.versioned("javascripts/browserified/annons.js")" type="text/javascript" defer></script>
}

@main("Annons") {
    <div id="annons_outside">
        <div id="annons">
            <div class="row">
                <div class="col-sm-8">
                    <div id="left">
                        <h2>@*<i class="fa fa-sticky-note"></i>*@ @annons.rubrik</h2>
                        <span class="label label-default">@annons.category</span>
                        <br>
                        <strong>@annons.county</strong>
                        <br>
                        @*Annons skapad: @annons.posted
                        <br>*@
                        @if(annons.typ.equals("borttappat")){
                            <strong>Tappades bort:</strong>
                        } else {
                            <strong>Hittades:</strong>
                        }
                        @utilities.DateFormatter.format(annons.date)
                        <br>
                        <strong>Beskrivning:</strong>
                        <p>@annons.text</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="image_panel" class="imgLiquidFill imgLiquid" style="width:225px; height:225px;">
                        <img class="media-object img-rounded" src="@dao.AppStringResources.imagepath@routes.Assets.versioned("images/annons_imgs/"+annons.img)" alt="@annons.typ.capitalize: @annons.rubrik">
                    </div>
                </div>
            </div>
            <hr>
            <legend><i class="fa fa-map-marker"></i> Var?</legend>
            @*
            Checks if the 'annons' got map coordinates.
            Create map div if it does.
            *@
            @if(annons.coordslat.nonEmpty){
                <div class="row" id="mapView">
                    <div class="col-xs-10">
                        <div id="map" ></div>
                    </div>
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
            }

            <hr>

            <div id="kontaktuppgifter_panel">
                <legend><i class="fa fa-user"></i> Kontaktuppgifter</legend>
                @if(annons.typ.equals("Borttappat")){
                    Kontakta @annons.uploader_name om du har upplysningar!
                } else {
                    Kontakta @annons.uploader_name om detta är ditt objekt!
                }

                <br>
                <strong>Telefon:</strong> @annons.uploader_phone
                <br>
                <strong>E-post:</strong> @annons.uploader_email
            </div>





            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <u>För dig som skapat annonsen</u>
            </a>

            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target=".bd-example-modal-sm">
                        <i class="fa fa-trash-o fa-lg"></i> Ta bort</a>

                    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                            @helper.form(action = routes.HomeController.removeAnnons(annons.id.get)) {

                                <label class="form-control-label">Lösenord</label>
                                @helper.inputPassword(removeAnnonsForm("password"), '_showConstraints -> false, '_label -> null, 'id -> "password", 'class -> "form-control")



                                <button type="submit" class="form-control btn btn-danger">Ta bort</button>
                            }

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="typ" style="display: none">@annons.typ</div>
    <div id="lat" style="display: none">@annons.coordslat</div>
    <div id="lng" style="display: none">@annons.coordslng</div>
}