@(annonser: List[models.Annons], annonserJson: play.api.libs.json.JsValue, searchAnnonsForm: Form[SearchAnnons])(implicit messages: Messages, flash: Flash)
@import play.api.libs.json.Json

<!-- Puts the annonser-json in the javascript -->

<script>
        var annonserFirstParse = @Html(Json.stringify(annonserJson))
        var annonser = annonserFirstParse.annonser;
</script>

<script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/browserified/index.js")" type="text/javascript" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANnIreWdGEZQkZsvJiONegQXO-Dd49-14&callback=initMap"
defer></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/google_maps.css")">


@main("Annonser") {

    <div id="index_views">
        <div class="row" id="mapView" style="display: none">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
                <div id="map" ></div>
            </div>
            <div class="col-xs-1">
            </div>
        </div>

        <div class="row" id="listView" style="display:none">
            <div class="col-md-12">
                <div id="annonser_heading">
                    @*
                        Empty for now
                    *@
                </div>
                @if(flash.get("failure")){
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        @flash.get("failure")
                    </div>
                }

                @for(a <- annonser.sortWith((a: Annons, b: Annons) => a.posted.compareTo(b.posted) > 0)) {
                    @annons_listed(a)
                }



            </div>
            @* Pagination
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
            *@
        @searchbar(annonser, searchAnnonsForm)

    </div>


}
