@(annonsForm: Form[Annons])(implicit messages: Messages)

    @*
    Google Maps Stuff
    *@
<script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/google_maps_create.js")" type="text/javascript" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANnIreWdGEZQkZsvJiONegQXO-Dd49-14&callback=initMap"
defer></script>
<script src="@routes.Assets.versioned("javascripts/testdeferasync.js")" type="text/javascript" defer></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/google_maps_lagg_till_annons.css")">



    @main("Skapa annons") {


        @helper.form(action = routes.HomeController.postAnnons(), 'id -> "annons_form") {
            <div id="form_panel">
                    <!-- HUVUDPANEL -->

                <div id="object_panel">

                    <legend><i class="fa fa-sticky-note"></i> Annons</legend>
                    xzasdsadsadsadasdas...

                    <!-- Ladda upp bild -->
                    <div class="form-group row">
                        <label for="file" class="col-sm-1 form-control-label">Bild</label>
                        <div class="col-sm-11">
                            <label class="file">
                                <input type="file" name="img" id="file">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                    </div>

                    <div id="uploaded_image"></div>

                    <progress id="progress_bar" style="display: none"></progress>

                    <div class="alert alert-danger" role="alert" id="img_upload_failure" style="display:none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        DAERROR
                    </div>

                    <div class="alert alert-success" role="alert" id="img_upload_succeess" style="display:none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">YAy!:</span>
                        SUCCESSEN
                    </div>

                    <!-- Typ -->
                    <div class="form-group row">
                        <label for="typ" class="col-sm-1 form-control-label">Typ</label>
                        <div class="col-sm-11">
                        @helper.select(
                            field = annonsForm("typ"),
                            options = Seq(
                                "borttappat" -> "Borttappat",
                                "upphittat" -> "Upphittat"
                            ),
                            'default -> "Välj typ",
                            'class -> "c-select",
                            '_label -> null,
                            'id -> "typ",
                            'autofocus -> true
                        )
                        </div>
                    </div>

                        <!-- Rubrik -->
                    <div class="form-group row">
                        <label for="rubrik" class="col-sm-1 form-control-label">Rubrik</label>
                        <div class="col-sm-11">
                        @helper.inputText(annonsForm("rubrik"), 'id -> "rubrik", '_label -> null, 'required -> true, 'maxlength -> 40, 'size -> 25)
                        </div>
                    </div>

                        <!-- Beskrivning-->
                    <div class="form-group row">
                        <label for="text" class="col-sm-1 form-control-label">Beskrivning</label>
                        <div class="col-sm-11">
                        @helper.textarea(annonsForm("text"), '_label -> null, 'id -> "text", 'rows -> 4, 'cols -> 35)
                        </div>
                    </div>

                        <!-- Datum -->
                    <div class="form-group row">
                        <label for="datum" class="col-sm-1 form-control-label">Datum</label>
                        <div class="col-sm-11">
                        @helper.inputDate(annonsForm("date"), '_label -> null, 'id -> "datum", '_showConstraints -> false)
                        </div>
                    </div>

                        <!-- Kategori -->
                    <div class="form-group row">
                        <label for="category" class="col-sm-1 form-control-label">Kategori</label>
                        <div class="col-sm-11">
                        @helper.select(
                            field = annonsForm("category"),
                            options = Seq(
                                "Djur" -> "Djur",
                                "Mobiltelefon" -> "Mobiltelefon"
                            ),
                            'default -> "Välj kategori",
                            '_label -> null,
                            'class -> "form-control",
                            'id -> "category"
                        )
                        </div>
                    </div>

                        <!-- Län -->
                    <div class="form-group row">
                        <label for="county" class="col-sm-1 form-control-label">Län</label>
                        <div class="col-sm-11">
                        @helper.select(
                            field = annonsForm("county"),
                            options = Seq(
                                "Gävleborgs län" -> "Gävleborgs län",
                                "Stefansbergs län" -> "Stefansbergs län"
                            ),
                            'default -> "Välj län",
                            '_label -> null,
                            'class -> "form-control",
                            'id -> "county"
                        )
                        </div>
                    </div>

                        <!-- Hittelön -->
                    <div class="form-group row" id="hittelon_div">
                        <label for="hittelon" class="col-sm-1 form-control-label">Hittelön</label>
                        <div class="col-sm-11">
                        @helper.inputText(annonsForm("hittelon"), '_label -> null, 'placeholder -> "Valfritt...", 'type -> "number", '_showConstraints -> false, 'id -> "hittelon")
                        </div>
                    </div>


                        <!-- Karta -->
                    <label>Var <span id="fillThis">...</span> objektet?</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="map"></div>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>

                    <!-- END OF HUVUDPANEL-->

                    <!-- DINA KONTAKTUPPGIFTER -->

                <div id="uploader_info_panel">
                    <legend><i class="fa fa-user"></i> Dina kontaktuppgifter</legend>
                    dsadasdsdadasdasdsa...
                    <!-- Namn -->
                    <div class="form-group row">
                        <label for="uploader_name" class="col-sm-1 form-control-label">Namn</label>
                        <div class="col-sm-11">
                        @helper.inputText(annonsForm("uploader_name"), '_label -> null, 'id -> "uploader_name")
                        </div>
                    </div>

                        <!-- Telefon -->
                    <div class="form-group row">
                        <label for="uploader_phone" class="col-sm-1 form-control-label">Telefon</label>
                        <div class="col-sm-11">
                        @helper.inputText(annonsForm("uploader_phone"), '_label -> null, 'type -> "tel", 'id -> "uploader_phone")
                        </div>
                    </div>

                        <!-- E-post -->
                    <div class="form-group row">
                        <label for="uploader_email" class="col-sm-1 form-control-label">E-post</label>
                        <div class="col-sm-11">
                        @helper.inputText(annonsForm("uploader_email"), '_label -> null, 'type -> "email", 'id -> "uploader_email", 'required -> true)
                        </div>
                    </div>

                </div>

                    <!-- END OF DINA KONTAKTUPPGIFTER -->

                    <!-- PASSWORD PANEL -->

                <div id="password_panel">
                    <legend><i class="fa fa-key"></i> Lösenord</legend>
                    Tillåter dig att ta bort annonsen vid ett senare tillfälle.
                    <!-- Password -->
                    <div class="form-group row">
                        <label for="uploader_password" class="col-sm-1 form-control-label">Lösenord</label>
                        <div class="col-sm-11">
                        @helper.inputText(annonsForm("uploader_password"), '_label -> null, 'type -> "password", 'id -> "uploader_password", 'required -> true)
                        </div>
                    </div>

                </div>

                    <!-- END OF PASSWORD PANEL -->
                    <!-- HIDDEN -->
                @helper.inputText(annonsForm("coordslat"), 'id -> "coordslat", '_label -> null, 'hidden -> "true", '_showConstraints -> false)
                @helper.inputText(annonsForm("coordslng"), 'id -> "coordslng", '_label -> null, 'hidden -> "true", '_showConstraints -> false)
                @helper.inputText(annonsForm("img"), 'id -> "img_path", '_label -> null, 'hidden -> "true", '_showConstraints -> false)

                    <!-- Submit button -->
                <button type="submit" class="btn btn-primary" id="form_submit_button">Skapa annons</button>
                <div id="form_submit_spinner" style="display: none"><i class="fa fa-refresh fa-spin" ></i></div>
            </div>
        }


    }