@(annonsForm: Form[Annons])(implicit messages: Messages)

    @*
    Google Maps Stuff
    *@
<script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/browserified/lagg_till_annons.js")" type="text/javascript" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANnIreWdGEZQkZsvJiONegQXO-Dd49-14&callback=initMap"
defer></script>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/google_maps_lagg_till_annons.css")">



    @main("Skapa annons") {


        @helper.form(action = routes.HomeController.postAnnons(), 'id -> "annons_form") {
            <div id="form_panel">
                    <!-- HUVUDPANEL -->

                <div id="object_panel">

                    <legend><i class="fa fa-sticky-note"></i> Generellt</legend>

                    <!-- Typ -->

                    <fieldset class="form-group">
                        <label for="typ">Typ</label>
                        <small class="text-muted"></small>
                        @helper.select(
                            field = annonsForm("typ"),
                            options = Seq(
                                "Borttappat" -> "Borttappat",
                                "Upphittat" -> "Upphittat"
                            ),
                            'default -> "Välj typ",
                            'class -> "c-select",
                            '_label -> null,
                            'id -> "typ",
                            'autofocus -> true
                        )
                    </fieldset>

                        <!-- Rubrik -->
                    <fieldset class="form-group">
                        <label for="rubrik">Rubrik*</label>
                        <small class="text-muted"></small>
                        @helper.inputText(annonsForm("rubrik"), 'id -> "rubrik", 'class -> "form-control", '_label -> null, 'required -> true, 'maxlength -> 40)
                    </fieldset>

                        <!-- Beskrivning-->
                    <fieldset class="form-group">
                        <label for="text">Beskrivning</label>
                        @helper.textarea(annonsForm("text"), '_label -> null, 'id -> "text", 'maxlength -> 1500)
                        <small class="text-muted"></small>
                    </fieldset>

                    <!-- Datum -->
                    <fieldset class="form-group">
                        <label for="datum">Datum *</label>
                        <br>
                        <small class="text-muted">När försvann objektet?</small>
                        @helper.inputDate(annonsForm("date"), '_label -> null, 'id -> "datum", '_showConstraints -> false)

                    </fieldset>

                        <!-- Hittelön -->
                    <fieldset class="form-group" id="hittelon_div">
                        <label for="hittelon">Hittelön</label>
                        <br>
                        <small class="text-muted">Valfritt.</small>
                        @helper.inputText(annonsForm("hittelon"), '_label -> null, 'placeholder -> "Valfritt", 'type -> "number", '_showConstraints -> false, 'id -> "hittelon")
                    </fieldset>

                        <!-- Kategori -->
                    <fieldset class="form-group">
                        <label for="category">Kategori</label>
                        @helper.select(
                            field = annonsForm("category"),
                            options = Seq(
                                "Annat" -> "Annat",
                                "Djur" -> "Djur",
                                "Kläder" -> "Kläder",
                                "Klocka" -> "Klocka",
                                "Väska" -> "Väska",
                                "Glasögon" -> "Glasögon",
                                "Nycklar" -> "Nycklar",
                                "ID/Kort" -> "ID/Kort",
                                "Mobiltelefon" -> "Mobiltelefon",
                                "Dator" -> "Dator",
                                "Fordon" -> "Fordon"
                            ),
                            'default -> "Välj kategori",
                            '_label -> null,
                            'class -> "form-control",
                            'id -> "category"
                        )
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="county">Län</label>
                        @helper.select(
                            field = annonsForm("county"),
                            options = Seq(
                                "Blekinge län" -> "Blekinge län",
                                "Dalarnas län" -> "Dalarnas län",
                                "Gotlands län" -> "Gotlands län",
                                "Gävleborgs län" -> "Gävleborgs län",
                                "Hallands län" -> "Hallands län",
                                "Jämtlands län" -> "Jämtlands län",
                                "Jönköpings län" -> "Jönköpings län",
                                "Kalmar län" -> "Kalmar län",
                                "Kronobergs län" -> "Kronobergs län",
                                "Norrbottens län" -> "Norrbottens län",
                                "Skåne län" -> "Skåne län",
                                "Stockholms län" -> "Stockholms län",
                                "Södermanlands län" -> "Södermanlands län",
                                "Uppsala län" -> "Uppsala län",
                                "Värmlands län" -> "Värmlands län",
                                "Västerbottens län" -> "Västerbottens län",
                                "Västernorrlands län" -> "Västernorrlands län",
                                "Västmanlands län" -> "Västmanlands län",
                                "Västra Götalands län" -> "Västra Götalands län",
                                "Örebro län" -> "Örebro län",
                                "Östergötlands län" -> "Östergötlands län"
                            ),
                            'default -> "Välj län",
                            '_label -> null,
                            'class -> "form-control",
                            'id -> "county"
                        )
                    </fieldset>

                        <!-- Ladda upp bild -->
                    <legend><i class="fa fa-picture-o"></i> Bild</legend>
                    <fieldset class="form-group">
                        <!-- <label for="file">Ladda upp bild</label>
                        <br>-->
                        <small class="text-muted">Det är starkt rekommenderat att du laddar upp en bild.</small>
                        <br>
                        <input type="file" class="form-control-file" name="img_input" id="file_selector">

                    </fieldset>

                    <!-- Image progress bar -->
                    <progress id="progress_bar" style="display: none"></progress>

                    <!-- Image upload failure message -->
                    <div class="alert alert-danger" role="alert" id="img_upload_failure" style="display:none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        DAERROR
                    </div>
                        <!-- Image upload success message -->
                    <div class="alert alert-success" role="alert" id="img_upload_succeess" style="display:none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">YAy!:</span>
                        SUCCESSEN
                    </div>

                    <!-- Shows the image here when it's uploaded -->
                    <div id="uploaded_image" class="imgLiquidFill imgLiquid" style="display:none; width:100px; height:100px;"></div>


                    <legend><i class="fa fa-map-marker"></i> Var?</legend>
                        <!-- Karta -->
                    <label><strong>Drag markören</strong> dit du <span id="fillThis">...</span> objektet.</label>
                    <br>
                    <small class="text-muted">Behöver självklart inte vara exakt.</small>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="map"></div>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>

                    <!-- END OF HUVUDPANEL-->

                    <!-- DINA KONTAKTUPPGIFTER -->

                <div id="uploader_info_panel">
                    <legend><i class="fa fa-user"></i> Dina kontaktuppgifter</legend>
                    Fyll i dessa uppgifter noggrant.

                    <!-- Namn -->
                    <fieldset class="form-group">
                        <label for="uploader_name">Namn</label>
                        <small class="text-muted"></small>
                        @helper.inputText(annonsForm("uploader_name"), '_label -> null, 'id -> "uploader_name", 'maxlength -> 80)
                    </fieldset>

                        <!-- Telefon -->
                    <fieldset class="form-group">
                        <label for="uploader_phone">Telefon</label>
                        <small class="text-muted"></small>
                        @helper.inputText(annonsForm("uploader_phone"), '_label -> null, 'type -> "tel", 'id -> "uploader_phone" , 'maxlength -> 40)
                    </fieldset>

                        <!-- E-post -->
                    <fieldset class="form-group">
                        <label for="uploader_email">E-post *</label>
                        <small class="text-muted"></small>
                        @helper.inputText(annonsForm("uploader_email"), '_label -> null, 'type -> "email", 'id -> "uploader_email", 'required -> true , 'maxlength -> 100)
                    </fieldset>

                </div>

                    <!-- END OF DINA KONTAKTUPPGIFTER -->

                    <!-- PASSWORD PANEL -->

                <div id="password_panel">
                    <legend><i class="fa fa-key"></i> Lösenord</legend>
                    Tillåter dig att ta bort annonsen vid ett senare tillfälle.
                    <!-- Password -->

                    <fieldset class="form-group">
                        <label for="uploader_password">Lösenord *</label>
                        <small class="text-muted"></small>
                        @helper.inputText(annonsForm("uploader_password"), '_label -> null, 'type -> "password", 'id -> "uploader_password", 'required -> true, 'minlength -> "4")
                    </fieldset>

                </div>

                    <!-- END OF PASSWORD PANEL -->
                    <!-- HIDDEN -->
                @helper.inputText(annonsForm("coordslat"), 'id -> "coordslat", '_label -> null, 'hidden -> "true", '_showConstraints -> false)
                @helper.inputText(annonsForm("coordslng"), 'id -> "coordslng", '_label -> null, 'hidden -> "true", '_showConstraints -> false)
                @helper.inputText(annonsForm("img"), 'id -> "img_path", '_label -> null, 'hidden -> "true", '_showConstraints -> false)

                    <!-- Submit button -->
                <button type="submit" class="btn btn-primary" id="form_submit_button">Skapa annons</button>
                <div id="form_submit_spinner" style="display: none"><i class="fa fa-refresh fa-spin" ></i></div>
            </div>
        }


    }