@(title: String)

@*
Invisible div to keep track of which page is active
Determine button colors.
*@
<div id="active_page" style="display: none;">@title</div>

<nav id="nav_bar" class="navbar navbar-fixed-top">

        <button type="button" class="btn btn-secondary" id="annonser_button" onclick="location.href='@routes.HomeController.index()';">
                <i class="fa fa-list"></i>
                 Annonser</button>

        <button type="button" class="btn btn-secondary" id="skapa_annons_button" onclick="location.href='@routes.HomeController.laggTillAnnons()';">
                <i class="fa fa-plus"></i> Lägg in</button>


</nav>
@*Logo HERE*@
@*
<span>
<img src="@routes.Assets.versioned("images/logo/lostandfound-small.jpg")" alt="logo">
</span>
*@