<nav class="navbar navbar-fixed-bottom navbar-light bg-faded" id="nav_bar_bottom">

    <div class="collapse" id="exCollapsingNavbar">
        <div class="bg-inverse p-a-1">

            <!-- Collapsed content-->
            <div class="row" id="filter_panel">
                <div class="col-xs-3">
                    <div class="input-group">

                        <span>Borttappat</span> &nbsp; <input type="checkbox" id="borttappat_checkbox">

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="input-group">

                        <span>Upphittat</span> &nbsp; <input type="checkbox" id="upphittat_checkbox">


                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="input-group">

                        Kategori

                    </div>
                </div>
                <div class="col-xs-3">

                    Län

                </div>

            </div>

        </div>
    </div>

    <!-- Button for collapse -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                <span id="filter_text">Filtrera &#9776;</span>
        </button>

    <!-- Search input -->
    <form>
        <input type="text" placeholder="Sök..." class="form-control">

    </form>
</nav>

